.countdown-number { 
  background-color: #E2F8FF;
  color: #001F3F;
  width: max-content; 
  height: max-content;
  border-radius: 1rem;

  text-align: center !important; 
  padding: 1rem; 
}

.countdown-unit { 
  display: inline; 
  margin-left: 1rem;
}

.column { 
  display: flex;

  align-items: center;
  width: max-content !important;
}