.countdown-number { 
  background-color: #f6f4f2;
  color: #395453;
  border-radius: 1rem;

  text-align: center !important; 
  padding: 1rem; 

}

.countdown-unit { 
  display: inline; 
  margin-left: 1rem;
}

.column { 
  display: flex;

  align-items: center;
  width: max-content !important;
}