.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: block; 
}
.innerContainer { 
    position: relative;
}


.title { 
    border-bottom: 2px solid #333 !important;
}


    
.logo { 
    width: 50vh;
    height: 50vh;
    z-index: 2;
    position: relative;
}

.footer { 
    position: relative;
}