.mainContainer {
  position: relative;
  display: block;
  background-color: #0d0d0d;
  padding: 2rem 3rem;
}

.mainSubheading { 
  color: RGB(225, 225, 225);
  margin-left: 2rem; 
}

.secondSubheading { 
  color: #7E7E7E;
  margin-left: 2rem; 
}

.header {
  @media (min-width: 768px) {
    padding: 3rem; 
    }

  border-bottom: 1px solid #7E7E7E;

}
.innerContainer {
  position: relative;
}

.textContainer {
  display: flex;
  border-bottom: 0.2rem solid #333 !important;
}

.titleBefore {
  text-align: left;
  font-size: 7rem !important;
  color: #e2f8ff;
  margin-right: 2rem;
}
.titleAfter {
  @extend .titleBefore;
  color: #902124;
}

.bodyText {
  font-size: 3.5rem !important;
  text-align: left;
}

.logo {
  margin-top: 10rem;
}

.footer {
  position: relative;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition:
    opacity 0.8s ease-out,
    transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.link { 
  cursor: pointer;
}

.gradient1 {
  @extend .link;
  background-image: linear-gradient(to right, red, purple);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient2 {
  @extend .link;
  background-image: linear-gradient(to right, purple, lightblue);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient3 {
  @extend .link; 
  background-image: linear-gradient(to right, lightblue, green);
  -webkit-background-clip: text;
  color: transparent;
}