.bodyText {
  font-size: 1rem !important;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #7c9695;
}

.title-effect {
  text-align: left;
  font-size: 2rem !important;
  margin-right: 2rem;
  cursor: pointer;
  color: #395453;
  margin-bottom: 1rem;
}

.accordion-item {
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  padding: 1rem;
}
.accordion-item-active {
  @extend .accordion-item;
  border-radius: 1.5rem;
  background-color: #f6f4f2;
  padding: 1rem;
}
