.aboutContainer {
  padding: 10rem;
  align-items: center;
  justify-content: center;
  display: flex; 
  flex-direction: column; 
}

.about-title { 
  text-align: center !important;
  width: 100%;
  align-self: center;
  justify-content: center;
  margin: 1rem;
}

.about-image { align-self: center}