.aboutContainer { 
    position: relative;
    display: flex;
    margin-top: 40vh;
    justify-content: space-between;
}
.text { 
    margin-right: 20px; 
}

.about-title { 
    color: white;
    margin-top: 15%;
    text-align: left;
    z-index: 2;
}

.about-body { 
    @extend .about-title;
    align-items: left;
    margin-top: 0%;
}

.about-image { 
    width: 70vh;
    height: 50vh; 
}